*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
yolo.weights
yolo.2.0.weights
log.txt
bar.txt
restaurant.txt

#yolo
yolo/
test/
src/
scripts/
results/
python/
obj/
include/
examples/
data/
.ipynb_checkpoints/
Makefile
libdarknet.a
libdarknet.so

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
